# Python Basics
## Foundation Course MAS - HBRS
___Author : Iswariya Manivannan___

__Tricks and hacks for using jupyter notebook__

Jupyter notebooks run on an underlying iPython kernel.

* __Jupyter notebook shortcuts__<br>
Shortcuts always come in handy. <br>
1.Switch to Command mode - Esc <br>
2.Switch to Edit mdoe - Enter <br>
3.Run a cell - Shift+Enter <br>
4.Create new cells above - Press A in Command Mode <br>
5.Create new cells below - Press B in Command Mode <br>
6.Delete a cell - Press D in Command Mode <br>
7.Code completion - Tab <br>
8.Extending documentation by displaying docstrings - Shift+tab <br>

## Let's Get Started!!!

__Doctor's Advice: Its good practise to place your imports, if any, in the first cell of the notebook__

In [ ]:
import sys
import math
print (sys.version)

## Datatypes, Variables, Expressions

Identifiers - Names of variables, functions, classes, objects, etc. <br>
Names can begin with alphabets or _ and can contain number, but no special characters are allowed

__Doctor's Advice: Follow the PEP8 Python style guide for Code. It makes your code more "Pythonic" and improves code readability__

In [ ]:
var1 = 1
var2 = 5.34
var3 = False

Basic Built-in datatypes in Python - __int, float, bool__

In [ ]:
print(type(var1))
print(type(var2))
print(type(var3))

__Evaluating Expressions using Arithmetic operators__ <br>
Create to variables "first" and "second" with values 5 and 10 <br>
* Add the two variables and assign them to another variable "result"
* Subtract 2 from the result
* Perform an integer division by 2
* Perform a true division by 2
* Get the remainder

In [ ]:
num_1, num_2 = 10.0, 5
result = num_1 + num_2
print "result {}".format(result)
int_div = num_1/num_2
print "integer division {}".format(int_div)

Use a Python built-in function to obtain the quotient and remainder

In [ ]:
divmod(10,3)

__Evaluating Expressions using Relational operators__ <br>
Harry, Ron, Hermoine obtained 98.5, 90.4, 99.2 in the exam. <br>
* Find out who got more marks
* Are Harry and Ron's marks equal?

In [ ]:
Harry, Ron, Hermoine = 98.5, 90.4, 99.2
Harry!=Ron

__Combining expressions using Logical operators__ <br>
The no. of sharks in summer in a particular sea is 100, the no. is 50 in autumn and finally is reduced to 20 in winter. <br>
* Check if the no. is greater than 15 in all seasons.
* Check if the no. is less than 30 atleast in one season.

In [ ]:
summer, autum, winter = 100, 50, 20
if summer>15 and autum>15 and winter>15:
    print "greater than 15"
if summer<30 or autum<30 or winter<30:
    print "greater than 30 in atleast one season"

## Importing math Module
The math module allows you to perform mathematical operations <br>
* Find the exponent and log of 2
* Find the cosine of 180
* Find the factorial of a number
* Convert 1.5 radians to degrees
* Find the absolute value of -20

In [ ]:
print math.exp(2)
print math.log10(2)
print math.cos(math.pi/2)
print "Factorial is {:.1f}".format(math.factorial(4))
print 180*1.5/math.pi
print abs(-20)

## Conditional Statements

__Python has the if conditional statement.__ <br>
The if conditional occurs in 3 variants.
* if statement <br>
The bank balance of 3 customers is 10000 USD, 5000 USD and 100 USD. <br>
Check if the balance of the second customer is greater than 1000 USD and print the balance.

In [ ]:
c1, c2, c3 = 10000, 5000, 100
if c2>1000:
    print c2

* if...else statement <br>
Check if the balance of the third customer is greater than 1000 USD, otherwise add a fine of 100 USD 
and subtract it from the main balance.

In [ ]:
if c3>1000:
    print "greater than 1000"
else:
    print "fined"
    print "old balance: {0} new balance:{1}".format(c3,c3-100)

* if...elif statement
Also check if the balance is greater than 8000 USD, if so give the customer a bonus of 100 USD.

In [ ]:
customer = c3
if customer>8000:
    print "Bonus! New balance is {}".format(customer+100)
elif customer>1000:
    print "Balance is {}".format(customer)
else:
    print "Fined! New balance is {}".format(customer-100)

## Looping in Python

Python uses 2 types of loops <br>
* while loop (less commonly used) <br>
Print the first 10 natural numbers and their sum

In [ ]:
sumn = 0
num = 1
while num<=10:
    print num
    sumn += num
    num += 1
print "Sum of numbers is {}".format(sumn)

* For loop
Print the first 10 natural numbers and their sum

In [ ]:
sumn = 0
for num in range(1,11):
    print num
    sumn+=num
print "Sum of numbers is {}".format(sumn)

Control statements like **break** and **continue** are also used in python. <br>
* Exit the loop when the number 5 is reached.

In [ ]:
sumn = 0
for num in range(1,11):
    print num
    sumn+=num
    if num==5:
        break
print "Sum of numbers is {}".format(sumn)

## Advanced Data Structures in Python

* Strings 
* Lists
* Tuples
* Dictionary

### Strings  <br>
Strings are a sequence of characters enclosed in single quotes or double quotes. They are __immutable__. <br>
Create a string " foundation_course "
* Count the number times of char "o" occurs in it
* Remove the white spaces before and after
* Find the characters "a", "b", "c", "d" and replace with "X"
* Split the string based on "_"
* Convert the string to upper case

In [ ]:
my_str = "foundation_course "
print my_str.replace("a","X")
list = my_str.count
print my_str.islower()

Extract the digits of the number 4016 and add check if they are even. <br>
Hint: Convert the number to a string

In [ ]:
for x in "4016":
    if math.fmod(int(x),2)==1:
        print "odd"
    else:
        print "even"

## Lists <br>
The most versatile data-type consisting of comma separated values enclosed in square brackets [] <br>
A marks of a class of 4 students are 90, 40, 80, 60 <br>
* Create a list named fruits with the number of each fruits as its elements. 
* Reverse the list
* Add the marks 95, 75 to the list
* Inset the marks 100 in the 3rd position
* Remove the marks 40
* Remove the last element of the list
* Sort the elements of the list

In [ ]:
marks = [90,40,80,60]
print type(marks)
marks.reverse()
print marks
marks.append(95)
marks.insert(3,1)
print marks

* Add the names lucy and jenny to list

__Doctor's Advice Again:__ <br>
* Create a matrix $A = \begin{bmatrix}2 & 3 \\5 & 6 \\1 & 1\end{bmatrix}$ using lists
* Append another list of vowels to this list

In [ ]:
A = [[2,3],[5,6],[1,1]]
print A
vowels = ['a','b','c']
A.extend(vowels)
print A

Indexing and Slicing
Python provides a very convenient way of indexing elements of strings, lists, tuples and dictionaries. <br>
* Create a string "Hello_world"
* Print the first, third and fifth char of the string
* Print the first 6 characters of the string
* Print the last 5 characters of the string

In [ ]:
string = "Hello_world"
print str[:6]

* Create a list from the string given above
* Print the elements from the first position to the second last element

In [ ]:
stringx = "Hello_world"
listx = list(stringx)
listx[5] = "pp"
print listx

## Tuples
Tuples are __immutable__ lists enclosed in paranthesis () <br>
* Create a tuple of the above mentioned 4 marks
* Try modifying the first element of the tuple
* Create another tuple of marks 55, 65
* Add the two tuples and store it in a new tuple
* Get the third element from the last in the new tuple

In [ ]:
tuplex = (1,2,3,4)
tupley = (5,6)
print tuplex, tupley
tuplez = tuplex+tupley
tuplez[3] = 4
print tuplez

## Built-in Functions common to strings, lists, tuples
* Create a string "foundation_course_2018"
* Create a list of nos - 90, 70, 30, 20, 50
* Create a tuple of prime nos - 2, 3, 5, 7, 11, 13, 17
* Find the len of each
* Find the max and min of each
* Find the sum of nos in the tuple and list

In [ ]:
str = "foundation_course_2018"
lst = [10,70,30,20,50]
tup = (2,3,5,7,11,13,17)
print lst
print sum(lst)

## Dictionary
Dictionaries are key, value pairs separated by a colon and enclosed with curly brackets {} <br>
* Create a dictionary of the following weather data<br>
Berlin - 25 <br>
Helsinki - 15 <br>
Madrid - 29 <br>
Dubai - 34 <br>
* Print the keys and values of the dictionary
* Check if the dictionary has the key Paris, if not add the key with value 27
* Get the value of key Madrid
* Set the default value of key Rome to 30 and Berlin to 20

__Note: Dictionaries are indexed by keys and hence, slicing cannot be applied to it __

In [ ]:
weather = {"berlin":25,"helsinki":15,"madrid":29,"dubai":34}
print weather.keys()
print weather.values()
print weather.has_key("paris")
print weather.has_key("madrid")
weather.setdefault("paris",20)
print weather
weather.setdefault("madrid",20)
print weather['madrid']
weather["Berlin"] = [10,15,20]
tupn = ("Germany","Spain","Finland")
lstn = [3,2,5,6]
weather.app
print weather

__Doctor's Advice Again:__ <br>
* Modify the above dictionary by replacing the value of Berlin with a list of nos 10, 15, 20
* Create a tuple of countries Germany, Spain, Finland
* Create a list of nos 3, 2, 5, 6
* Append the dictionary and tuple to the list

## Built-in functions in Python
Python has several built-in functions which can be used on the fly without importing any modules. <br>
__1. Getting help from Python__

__2. range()__ <br>
range produces an iter object in Python 3 and is similar to xrange in Python 2 <br>
* Generate the series - 1, 4, 9, 16, 25, 36, 49, 64, 81, 100 <br>
* Generate the multiples of 4

In [ ]:
abc =  xrange(1,11)
print abc[1]

__3. sorted()__ <br>
Returns a sorted copy of the original list. __Does not mutate__ the original list. <br>
* Create a list of nos - 5, 3, 9, 6, 1, 0
* Sort the list in reverse order

__4. reversed()__ <br>
Returns a reversed copy of the original list. __Does not mutate__ the original list. Returns an iter object in Python 3
* Create a list of vowels and reverse them

__5. set()__ <br>
Create a set of items in a list or tuple. Removes duplicates. <br>

__6. Type casting in python__

__Pay Attention !! Iterating through lists__ <br>
Python for loops are very different from other programming languages 
<br>
__The wrong way of iterating through elements of a list!!__<br>

__The Right way__

__Doctor's Advise Again!!  Exercise__
* Create a list of first 20 natural nos.
* Filter out the even nos and print them.

In [ ]:
import math
lst = [1]
cnt = 1
num = 1
while cnt < 20:
    print num
    num += 1
    natnum = 1
    for div in range(1,num):
        if num%div==0:
            natnum = 0
    if natnum==1:
        lst.append(num)
print lst

* Create a list of birds - pigeon, crow, eagle, swan, duck, chicken, woodpecker
* Filter out the birds which start with a vowel.

In [4]:
abc = enumerate(xrange(0,31,3))
print abc[0]

TypeError: 'enumerate' object has no attribute '__getitem__'

__7. enumerate()__ <br>
Returns the count and value of the iterable. <br>
* Create a list of multiples of 3
* Iterate through the list and add ten to the nos in the even position.

In [ ]:
enumerate

__8. zip()__<br>
Useful when you need to iterate through multiple lists at the same time.
* Create two lists [1, 2, 3, 4, 5], [1, 1, 1, 1, 1]
* Add the elements of the two lists and store them in a new list

In [7]:
lst1 = [0,1,2]
lst2 = [3,4]
zipx = zip(lst1,lst2)
print zipx

[(0, 3), (1, 4)]

* Create a third list [2, 2, 2]
* Multiply the elements of the first two lists and then add the elements of the third list to it.
* What is the length of the resultant list?
* What do you infer from the behaviour of zip?

__List Comprehension__ <br>
One liners for getting a list output from for loops <br>
List comprehension is faster than normal for loops 
* Lets work on the same problem of extracting the digits from a number.

* Extract only even digits from a number

* Extract the even digits from a number and replace the other digits with 100

* Create a matrix using lists $A = \begin{bmatrix}1 & 2 & 3 \\4 & 5 & 6 \end{bmatrix}$
* Find its transpose using list comprehension

## User-defined functions in Python
Functions in python are different from other languages - they can have any number of return values
* Write a basic function manipulate_numbers() to add, subtract, multiply and divide to numbers passed to it and return the corresponding values

Arguments can take on default values if not passed in function call.

* Write a function that takes two lists as it arguments
* The function should reverse the first the list
* Then return the sum of elements of lists multiplied together

__Doctors Advice Again__ <br>
* Write a function to extract the second element of a tuple
* Create a list of tuples - (4,3), (6,2), (7,5), (0, 1)
* Sort the list based on the second element of the tuple
Hint: Pass the function to key argument in sorted()

## Other Built-in functions Python
* __Lambdas__ <br>
__Syntax: var = lambda arg: expression(arg)__ <br>
Create a function that returns the value of the no. passed to it multiplied by 100

* __Map__ <br>
It is used for mapping a list to a function. <br>
__Syntax: map(func_to_map, list_to_be_passed)__ <br>
Note: Map returns an iter object in python. Type casting to list datatype may be used.

Create a list of number from 1 to 10 and multiply each element by 100

* Create a list of square root of numbers from 1 to 20 using map and lambda

__Note: Also lookup reduce() and filter()__

## Classes & Objects in Python

* Create a class Employee with variables name, age and nationality.
* Create objects to the class - Richard, 35, American; Leonardo, 45, Spanish; Chen, 25, Chinese

In [5]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        return
    def salary(self):
        if self.age<30 and self.age>20:
            print ("Age between 20 and 30")
        else:
            print ("Not in desired age group")
        return
        
obj_1 = Employee("Richard",25)
obj_1.salary()

Age between 20 and 30

* Create a class method which calculates the salary based on age. <br>
If age is between 20 and 30, then salary is 5000 USD <br>
If age is between 31 and 40, then salary is 10000 USD <br>
If age is between 41 and 50, then salary is 15000 USD <br>

### Other sources for learning Python: <br>
1.Tutorials Point - https://www.tutorialspoint.com/python/ <br>
2.Learn Python the hard way <br>
3.Python for Computation science https://www.southampton.ac.uk/~fangohr/training/python/pdfs/Python-for-Computational-Science-and-Engineering.pdf <br>
3.Data Structures and Algorithms in Python - 
Book by Michael H. Goldwasser, Michael T. Goodrich, and Roberto Tamassia (Advanced) <br>
4.Effective Python: 59 Specific Ways to Write Better Python - 
Book by Brett Slatkin (Advanced) <br>